:root {
	--color-primary: #6cb0bc;
	--color-primary-rgb: 108,176,188;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #5f9ba5;

	--color-secondary: #a6d7de;
	--color-secondary-rgb: 166,215,222;
	--color-secondary-contrast: #ffffff;
	--color-secondary-contrast-rgb: 255,255,255;
	--color-secondary-shade: #92bdc3;

	--color-tertiary: #3b7c8c;
	--color-tertiary-rgb: 59,124,140;
	--color-tertiary-contrast: #ffffff;
	--color-tertiary-contrast-rgb: 255,255,255;
	--color-tertiary-shade: #346d7b;
	
    --color-select: #f5c270;
	--color-select-rgb: 245,194,112;
	--color-select-contrast: #000000;
	--color-select-contrast-rgb: 0,0,0;
	--color-select-shade: #d8ab63;

	--color-answer: #e56a57;
	--color-answer-rgb: 229,106,87;
	--color-answer-contrast: #000000;
	--color-answer-contrast-rgb: 0,0,0;
	--color-answer-shade: #ca5d4d;

    --color-medium: #92949c;
	--color-medium-rgb: 146,148,156;
	--color-medium-contrast: #000000;
	--color-medium-contrast-rgb: 0,0,0;
	--color-medium-shade: #808289;

	--color-light: #f4f5f8;
	--color-light-rgb: 244,245,248;
	--color-light-contrast: #000000;
	--color-light-contrast-rgb: 0,0,0;
	--color-light-shade: #d7d8da;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* index.html */

.main {
    width: 680px;
    max-width: 100%;
    height: auto;
    background-color: var(--color-light);
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

/* index.html　タイトル */

.container-top {
    background-color: var(--color-primary);
    margin: 0 0 8px 0;
    padding: 14px 14px;
}

h1 {
    color: var(--color-primary-contrast);
    display: block;
    text-align: left;
    margin: 0;
}

#title {
    font-weight: var(--font-weight-semibold);
}
#subtitle {
    font-weight: var(--font-weight-medium);
    transform-origin:left top;
    transform: scale(0.7);
}

/* index.html　難易度選択 */

.container-difficulty {
    margin: 0 0 8px 0;
}

.select-difficulty input {
    display: none;
}

.select-difficulty input[type="radio"]:checked + label {
    color: var(--color-primary-contrast);
    background-color: var(--color-primary);
}

.select-difficulty label {
    color: var(--color-secondary);
    text-align: center;
    display: inline-block;
    padding: 2px 0px 8px 0px;
    width: calc( 100% / 3.1 );
    font-size: 20px;
    background-color: var(--color-primary-contrast);
    cursor : pointer;
}

/* index.html　ヒント */

.container-message-box {
    background-color: var(--color-primary-contrast);
    margin: 0 0 8px 0;
    padding: 12px 18px 16px 18px;
}

h2 {
    color: var(--color-medium);
    display: block;
    margin: 0;
    font-size: 16px;
}

.message {
    color: var(--color-answer);
    font-size: 18px;
}

/* index.html　選択肢 */

.container-words {
    margin: 0 0 8px 0;
    text-align: center;
}

.select-word input {
    display: none;
}

.select-word input[type="checkbox"]:checked + label {
    color: var(--color-primary-contrast);
    background-color: var(--color-primary);
    border-bottom: 5px solid var(--color-primary-shade);
    margin: 11px 0px 8px 0px;
}

.select-word label {
    display: inline-block;
    color: var(--color-tertiary);
    text-align: center;
    vertical-align:  middle;
    padding: 16px 8px;
    width: 90%;
    max-width: 480px;
    font-size: 24px;
    background-color: var(--color-primary-contrast);
    margin: 8px 0px 8px 0px;
    border-bottom: 8px solid var(--color-light);
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    cursor : pointer;
}

/* index.html　選択肢下のボタン群 */

.buttons {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#submit-answer {
    display: inline-block;
    margin-top: 12px;
    padding: 12px;
    width: 25%;
    min-width: 100px;
    font-size: 20px;
    border-radius: 2px;
    color: var(--color-primary-contrast);
    background-color: var(--color-primary);
    cursor : pointer;
}

.hint-and-reload {
    display: flex;
}

#hint {
    margin-top: 20px;
    margin-left: 0px;
    width: 36px;
    height: 36px;
    background-image:url("images/info-icon2.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor : pointer;
}

#hint-submit {
  opacity: 0;
  width: 0;
  height: 0;
}

#reload {
    margin-top: 20px;
    margin-left: 14px;
    width: 36px;
    height: 36px;
    background-image:url("images/reload-icon.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor : pointer;
}

#reload-submit {
    opacity: 0;
    width: 0;
    height: 0;
}

#line {
    margin-top: 24px;
    margin-left: 20px;
}

/* ポップアップwindow部分 */
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 70;
    width: 100%;
    height: 100%;
}
/* オーバーレイの背景部分 */
#bg_gray {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
}

/* ウィンドウ部分 */
#popup-window {
    width: 300px;
    padding: 20px 20px 10px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-tertiary-contrast);
    border-radius: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
    z-index: 90;
}

#popup-msg h2 {
    color: var(--color-answer);
    font-size: 22px;
    margin: 0px 0px 12px 0px;
}

#popup-msg p {
    color: var(--color-medium-shade);
    margin: 0px 0px 12px 0px;
    font-size: 20px;
}

#popup-close {
    display: block;
    width: 80%;
    color: var(--color-medium-shade);
    margin: 0 auto;
    padding: 12px 0px 18px 0px;
    font-size: 16px;
    cursor : pointer;
}

#confirm-answer-checkbox:checked ~ #overlay {
    visibility: visible;
}

/* index.html　正解確認のセクション */

.sub {
    margin-top: 18px;
}

.answer-box {
    height: auto;
    text-align: center;
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--color-light);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    padding: 16px 16px 18px 16px;
    display: flex;
    align-items: center;
}

.answer-box input {
    display: none;
}

.answer-box label {
    color: var(--color-medium-shade);
    font-size: 20px;
    cursor : pointer;
    display: inline-block;
}

#confirm-answer-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* index.html　トグル（コピペ） */

/*  The switch - the box around the slider  */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.0em;
  height: 1.5em;
  margin-top: 4px;
  margin-left: 16px;
}

/*  Hide default HTML checkbox  */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*  The slider  */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--color-light-shade);
  border-radius: 30px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  inset: 0;
  background-color: var(--color-primary-contrast);
  border-radius: 30px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: var(--color-primary-shade);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}

/* index.html　回答表示箇所 */

#show-answer {
    color: var(--color-medium-shade);
    font-size: 20px;
    margin: 2px 0px 0px 22px;
    width: 65%;
    height: auto;
}

#hidden-answer {
    color: var(--color-medium-shade);
    font-size: 20px;
    margin: 2px 0px 0px 22px;
    width: 65%;
    height: auto;
    display: none;
}


/* info.html */

.info-body {
    width: 680px;
    max-width: 100%;
    height: auto;
    background-color: var(--color-tertiary-contrast);
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

#loading-error {
    color: var(--color-medium);
    text-align: center;
    padding: 24px 12px;
}