{% extends "base.html" %}
{% block body %}

    <section class="main">
        <div class="container-top">
            <h1 id="title">共通点に当てはまる言葉</h1>
            <h1 id="subtitle">を二つ選択してください。</h1>
        </div>
        <div class="container-level">
            <div class="select-level">
                <input type="radio" id="easy" name="level" value="easy" class="easy">
                <label for="easy">Easy</label>
                <input type="radio" id="nomal" name="level" value="nomal" class="nomal" checked>
                <label for="nomal">Nomal</label>
                <input type="radio" id="hard" name="level" value="unix" class="hard">
                <label for="hard">Hard</label>
            </div>
        </div>
        <div class="container-message-box">
            <h2 id="message-title">Chat-GPTが出した共通点：</h2>
            <h2 id="message">決断力と適応力によって、自然な移動の障害を克服する。</h2>
        </div>
        <div class="container-words">
            <div class="select-word">
                <input type="checkbox" id="word01" name="word" value="word01" class="words">
                <label for="word01">滝</label>
                <input type="checkbox" id="word02" name="word" value="word02" class="words">
                <label for="word02">サーモン</label>
                <input type="checkbox" id="word03" name="word" value="word03" class="words">
                <label for="word03">自動車</label>
            </div>
            <div class="buttons">
                <div class="hint-and-reload">
                    <input type="checkbox" id="hint-checkbox" name="hint-checkbox">
                    <label for="hint-checkbox" id="hint"></label>
                    <input type="checkbox" id="reload-checkbox" name="reload-checkbox">
                    <label for="reload-checkbox" id="reload"></label>
                </div>
                <input type="checkbox" id="submit-answer-checkbox" name="submit-answer-checkbox">
                <label for="submit-answer-checkbox" id="submit-answer">確認</label>
                <div id="overlay">
                <label for="submit-answer-checkbox" id="bg_gray"></label> <!-- ウィンドウの外のグレーの領域 -->
                <!-- ポップアップ部分 -->
                <div id="popup-window"> <!-- ウィンドウ部分 -->
                    <div id="popup-msg"> <!-- ウィンドウのコンテンツ -->
                        <h2>【不正解】</h2>
                        <p>あなたはロボットです。正解はサーモンと自動車。</p>
                    </div>
                    <label for="submit-answer-checkbox" id="popup-close">閉じる</label>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="sub">
        <div class="answer-box">
            <label class="switch" name="switch">
              <input type="checkbox" id="switch-checkbox">
              <span class="slider"></span>
            </label>
            <p id="answer">正解を見る（出題者用）</p>
        </div>
    </section>

{% endblock %}