{% extends "base.html" %}
{% block body %}
<body>
    <section class="main">
        <div class="container-top">
            <h1 id="title">共通点に当てはまる言葉</h1>
            <h1 id="subtitle">を二つ選択してください。</h1>
        </div>
        <div class="container-difficulty">
            <form class="select-difficulty"
                  id="post-checked-difficulty"
                  action="/question/{{ question_id }}"
                  method="POST">
                <input type="radio" id="easy" name="difficulty" value="easy" class="easy"
                        {% if selected_difficulty == 'easy' %} checked {% endif %}>
                <label for="easy">Easy</label>
                <input type="radio" id="normal" name="difficulty" value="normal" class="normal"
                       {% if selected_difficulty == 'normal' %} checked {% endif %}>
                <label for="normal">Normal</label>
                <input type="radio" id="hard" name="difficulty" value="hard" class="hard"
                       {% if selected_difficulty == 'hard' %} checked {% endif %}>
                <label for="hard">Hard</label>
            </form>
            {% if common_point == 'unacquired' %}
            <script>
                // ページ読み込みが完了したらフォームを自動送信
                window.addEventListener('load', function() {
                    document.getElementById('post-checked-difficulty').submit();
                });
            </script>
            {% elif common_point %}
            <script>
                const difficulties = document.getElementsByName('difficulty');
                // 難易度を変更したらフォームを送信
                difficulties.forEach(function(radioButton) {
                    radioButton.addEventListener('click', function() {
                        document.getElementById('post-checked-difficulty').submit();
                    });
                });
            </script>
            {% else %}
            <script></script>
            {% endif %}
        </div>
        <div class="container-message-box">
            <h2 id="message-title">Chat-GPTが出した共通点：</h2>
            {% if common_point == 'unacquired' %}
            <h2 class="message">読込み中...</h2>
            {% elif common_point %}
            <h2 class="message">{{ common_point }}</h2>
            {% else %}
            <h2 class="message">読込みに失敗しました。<br>ページを更新してください。</h2>
            {% endif %}
        </div>
        <div class="container-words">
            <div class="select-word">
            {% if question_id and option_a %}
                <input type="checkbox" id="word-A" name="word" value="{{ option_a }}" class="words">
                <label for="word-A">{{ option_a }}</label>
                <input type="checkbox" id="word-B" name="word" value="{{ option_b }}" class="words">
                <label for="word-B">{{ option_b }}</label>
                <input type="checkbox" id="word-C" name="word" value="{{ option_c }}" class="words">
                <label for="word-C">{{ option_c }}</label>
            {% else %}
                <h1 id="loading-error">読込みに失敗しました。<br>ページを更新してください。</h1>
            {% endif %}
            </div>
            <div class="buttons">
                <div class="hint-and-reload">
                    <form  action="/info" method="POST" style="display: none;">
                        <input type="hidden" name="selected_difficulty" value="{{ selected_difficulty }}">
                        <input type="hidden" name="question_id" value="{{ question_id }}">
                        <input type="submit" id="hint-submit">
                    </form>
                    <label for="hint-submit" id="hint"></label>
                    <form  action="/" method="POST" style="display: none;">
                        <input id="reload-submit" type="submit" name="reload-submit"
                               value="{{ selected_difficulty }}">
                    </form>
                        <label for="reload-submit" id="reload"></label>
                    <div id="line">
                        <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://anko1-simple-game.top/" data-color="grey" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
                        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
                    </div>
                </div>
                <input type="checkbox" id="confirm-answer-checkbox" name="confirm-answer-checkbox" value="{{ incorrect_word }}">
                <label for="confirm-answer-checkbox" id="submit-answer">確認</label>
                <div id="overlay">
                <label for="confirm-answer-checkbox" id="bg_gray"></label> <!-- ウィンドウの外のグレーの領域 -->
                <!-- ポップアップ部分 -->
                <div id="popup-window"> <!-- ウィンドウ部分 -->
                    <div id="popup-msg"> <!-- ウィンドウのコンテンツ -->
                        <h2 id="popup-msg-title"></h2>
                        <p id="popup-msg-content"></p>
                    </div>
                    <label for="confirm-answer-checkbox" id="popup-close">閉じる</label>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="sub">
        <div class="answer-box">
            <label class="switch">
              <input type="checkbox" id="switch-checkbox" onclick="setAnswerVisibility();">
              <span class="slider"></span>
            </label>
            <p id="show-answer">正解を見る（出題者用）</p>
            <p id="hidden-answer">正解は「{{ correct_word_1 }}」と「{{ correct_word_2 }}」</p>
        </div>
    </section>

{% endblock %}